.menu-catalog {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-catalog h1 {
  color: #588970;
  font-size: 40px;
  font-weight: 600;
  font-style: oblique;
}

.menu-catalog-text {
  font-size: 18px;
  max-width: 72%;
  color: #3a5a49;
  margin-bottom: 10px;
}

.menu-catalog-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  text-align: center;
  margin: 10px 0px;
  overflow-x: scroll;
}

.menu-catalog-list::-webkit-scrollbar {
  display: none;
}

.menu-catalog-item img {
  width: 10vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s;
}

.menu-catalog-item p {
  color: #437559;
  margin-top: 15px;
  font-size: max(1.6vw, 16px);
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
}

.menu-catalog hr {
  margin: 10px 0px;
  height: 2px;
  background-color: #3a5a4944;
  border: none;
}

.menu-catalog-item .active {
  border: 5px solid #437559;
  padding: 1px;
}

@media (max-width:1050px) {
  .menu-catalog-text {
    max-width: 100%;
    font-size: 14px;
  }
}