.sidebar {
  width: 18%;
  min-height: 100vh;
  border: 1.5px solid #3a5a49;
  border-top: 0;
  font-size: max(1vw, 10px);
}

.options {
  padding-top: 50px;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.option {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #3a5a49;
  border-right: 0;
  padding: 9px 9px;
  border-radius: 3px 0px 0px 3px;
  cursor: pointer;
}

.option.active {
  background-color: rgba(72, 165, 92, 0.571);
  border-color: #3a5a49;
}

@media(max-width:900px) {
  .option p {
    display: none;
  }
}